.discount_form_filter {
    margin-top:1em;
    margin-bottom:1em;
}
.discount_form_filter select {
    margin-left:1em;
}
#array-discount_form-discount table .error {
    background-color:transparent;
    border:none;
    margin:0;
}
#array-discount_form-discount table .errormessage {
    padding:0;
}
#array-discount_form-discount table {
    width:100%;
}
#array-discount_form-discount table td>div,
#array-discount_form-discount table th>div {
    display:table-cell;
    padding-top:0.2em;
    padding-bottom:0.2em;
}

#array-discount_form-discount div.array_actions {
    width:90px;
}

div.form_header.kind,
div.array_field.kind,
div.form_header.block,
div.array_field.block,
div.form_header.value,
div.array_field.value,
div.form_header.threshold,
div.array_field.threshold,
div.form_header.valid_from,
div.array_field.valid_from,
div.form_header.valid_to,
div.array_field.valid_to,
div.form_header.for,
div.array_field.for {
    text-align:center;
    vertical-align:middle;
}

div.form_header.kind,
div.array_field.kind {
    width:8%;
}
div.form_header.block,
div.array_field.block {
    width:8%;
}
div.form_header.value,
div.array_field.value {
    width:6%;
}
div.form_header.threshold,
div.array_field.threshold {
    width:6%;
}
div.form_header.valid_from,
div.array_field.valid_from,
div.form_header.valid_to,
div.array_field.valid_to {
    width:10%;
}
div.form_header.for,
div.array_field.for {
    width:15%;
}
div.array_field.kind select {
    width:90%;
}
div.array_field.value input,
div.array_field.threshold input {
    width:90%;
}
div.array_field.valid_from .datepicker,
div.array_field.valid_to .datepicker {
    width:50%;
}
div.array_field.valid_from .timepicker,
div.array_field.valid_to .timepicker {
    width:32%;
}

.array_field.threshold,
.array_field.value {
    padding: 0 0.25em;
}